<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exibir artista</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
    <%
        const round = function(number, precision) {
            var factor = Math.pow(10, precision);
            var tempNumber = number * factor;
            var roundedTempNumber = Math.round(tempNumber);
            return roundedTempNumber / factor;
        };

        const contarSeguidores = (seguidores) =>{
            if (seguidores >= 1000000) {
                var seguidoresAjuste = round(seguidores/1000000,1)
                return seguidoresAjuste + " M"
            }

            if (seguidores >= 100000){
                var seguidoresAjuste2 = round(seguidores/1000,0)
                return seguidoresAjuste2 + " Mil"
            }

            return seguidores
        }

        const trataNome = (nome) => {
            if (nome.length > 20) {
                return nome.slice(0,17) + '...'
            }
            return nome
        }
    %>

</head>
<body class="bg-dark">
    <div class="row"><br></div>
    <div class="container">
            <div class="card mb-3" style="width: 600px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href="<%= artista.body.artists.items[0].external_urls.spotify %>" target="_blank" ><img src="<%= artista.body.artists.items[0].images[2].url %>"alt="<% artista.body.artists.items[0].name %>" height="200"></a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= artista.body.artists.items[0].name %></h5>
                            <p class="card-text"><%= artista.body.artists.items[0].genres.join(', ') %></p>
                            <p class="card-text"><small class="text-muted"><%= contarSeguidores(artista.body.artists.items[0].followers.total) %> seguidores</small></p>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="dropdown-divider"></div>
            <div class="row">
                
                <div class="card-group">
                    <% album.body.items.forEach((item,i) => { if (i%3==0) { %>
                        
                            <div class="card" style="max-width: 12rem">
                                <img src="<%= item.images[0].url %>" class="card-img-top" alt="<%= item.name %>">
                                <div class="card-body">
                                    <h6 class="card-title"><%= trataNome(item.name) %></h6>
                                    <p class="card-text"><small>Lançado em <%= item.release_date.slice(0,4) %></small></p>
                                    <a href="<%= item.external_urls.spotify %>" target="_blank"  class="btn btn-success rounded" style="border-radius: 50%;"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                        <path fill="currentColor" d="M10,16.5V7.5L16,12M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
                                    </svg></a>
                                </div>
                            </div>
                    <%} }); %>
                </div>

            </div>
    </div>

  


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>